.product-grid-container__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 500px) {
  .product-grid-container__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 801px) {
  .product-grid-container__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .product-grid-container__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


